html {
	scroll-behavior: smooth;
}

body,
html {
	height: 100%;
}

body {
	background: rgba(34, 40, 49, 1);
	color: $color-white;
	font-family: Poppins;
	font-weight: 700;
}

.container {
	max-width: 1298px;
	padding: 0px 20px;
	margin: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
}

.main {
	flex: 1 1 auto;
}

.footer {
}
